{% extends 'base.html' %}
<head>
    <style>
img { 50%}

    </style>
</head>
{% block title %}

<title>Pungi</title>

<style>
td { text-align: right; }
th { height: 0px; }
table { width: 70%; }
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



</style>


{% endblock %}

{% block content %}

<h1>Adauga Produs (Pungi)</h1>
<hr>
<table>
    <tr>
        <td>
            <img src="https://i.imgur.com/EzmWRiV.png" alt="Masurare dimensiuni">
        </td>
        <td>

        </td>
        <td>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <table class="table" align="left">
                    <th>{{ field.label }}</th>
                    <td>{{ field }}</td>
                </table>
                {% endfor %}

                <button type="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Salveaza
                </button>
</table>

{% endblock %}
