{% extends 'base.html' %}

{% block title %}
<title>Plasare comenzi</title>
<style>
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


</style>


{% endblock %}

{% block content %}
<h1>Comanda Produse</h1>
<hr>
<h4>De aici puteti plasa comenzi de produse si materie prima.</h4>

<a href="/stocks/pungi" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Pungi</a>
<a><b>sau</b></a>
<a href="/stocks/folie" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Folie</a>

{% endblock %}


<!--class="btn btn-outline-primary"-->