{% extends 'base.html' %}
<!DOCTYPE html>
{% block title %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <style>

body{margin-top:20px;}





    </style>
</head>
{% endblock %}

{% block content %}
<body>
<div class="container bootstrap snippets bootdey">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                Here you can <strong> edit your profile</strong>.
            </div>
            <h3>Personal info</h3>

            <div>
                <form method="post" action="" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>

                    <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit"
                           value="Update"/>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
{% endblock %}
</html>