{% extends 'base.html' %}

{% block title %}
    <title>Comenzi in procesare</title>
<style>
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

</style>

{% endblock %}

{% block content %}
<h1>Comenzi in procesare</h1>
<hr>
<h4>De aici puteti verifica toate comenzile care urmeaza sa fie procesate.</h4>

<a href="/stocks/pungiview" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Comenzi pentru Pungi</a>
<a><b>sau</b></a>
<a href="/stocks/folieview" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Comenzi pentru Folie</a>

{% endblock %}
