{% extends 'base.html' %}

{% block title %}
    <title>Contact</title>
{% endblock %}
<hr>
<style>


</style>
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Contact</title>

    <style>
        .w3-container{
        background: linear-gradient(180deg, grey, grey ,black);
        }
    </style>
    </head>

<h1>Contact</h1>
<hr>

<body>

<table class="table">

    <tr>
    <td>
    <dl class="w3-container w3-purple w3-center" style="padding:92px 25px" >
	<dt>Director General</dt>
	<dd>Rusu Gabriel</dd>
    <hr>
	<dt>Telefon</dt>
	<dd>0756 020 991</dd>
    <hr>
    <dt>Email</dt>
	<dd><a style="color: white;" href="mailto: crisex_100@yahoo.com">crisex_100@yahoo.com</a></dd>
    <hr>
	<dt>Adresa</dt>
	<dd>Bacau, str. Gheorghe Donici, nr. 2bis</dd>

</dl>
</td>

<td>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43890.02485428822!2d26.864443894803777!3d46.564962645252834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b56ff35acc837f%3A0xa648150ae5ac35c4!2sSC%20CRISEX%20COM%20SRL!5e0!3m2!1sen!2sro!4v1644917123993!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</td>
    </tr>
</table>
</body>

{% endblock %}
