{% extends 'base.html' %}

{% block title %}
    <head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 18px;
}
</style>
</head>

    <title>Homepage</title>

{% endblock %}

{% block content %}

    <h1>
        {{ title }}
    </h1>
<hr>
    <p>
        Atat s-a putut!<br>E un inceput!<br>Momentan este in lucru.
    </p>

    {% if request.user.is_authenticated %}
    {% else %}
<a class = "btn btn-danger" href="/users/login/" target="_blank">Login !</a>
<a> or </a>
<a class = "btn btn-danger" href="/users/register/" target="_blank">Register !</a>
    {% endif %}

{% endblock %}