{% block title %}
<head>
    <style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

nav {
    padding: 10px 10px;
}
li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a:hover {
  background-color: purple;
}
li:last-child {
  border-right: none;
}
.active {
  background-color: navy;
}

    </style>
</head>

{% endblock %}
<hr>
<nav>
    <ul>
        <li><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/">Homepage</a></li>

        {% if request.user.is_authenticated %}

        {% if request.user.is_superuser %}

        <li><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/admin">Administrare</a>
        </li>

        {% endif %}

        <li><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top"
               href="{% url 'users:profile' %}">Profile of {{ request.user.first_name }} {{ request.user.last_name }} </a></li>
        <li><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/users/upload">Upload
            Poza Produs</a></li>
        <li><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top"
               href="{% url 'stocks:produse' %}">Comanda Produse</a></li>
        <li><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top"
               href="{% url 'stocks:comenzi' %}">Comenzi in Procesare</a></li>
        <li><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top"
               href="{% url 'users:logout' %}">Logout</a></li>

        {% else %}
        {% endif %}

        <li style="float:right "><a class="active w3-button w3-black w3-padding-large w3-large w3-margin-top"
                                    href="{% url 'users:contact' %}">Contact</a></li>
    </ul>
</nav>

<hr>

